.seccion-mensaje_salida{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 30%;
}

.contenedor-mensaje-devuelto{

    align-items: center;
    background: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8);
    height: 800px;
    width: 100%;
}

/*Comienzo del contenedor que se empieza mostrando*/
.contenedor-mostrando{

    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    top: 10rem;
    width: 90%;
}

.logo-muneco{

    height: 100%;
    margin-bottom: 2rem;
}

.contenedor_parrafos-mostrando{

    display: flex;
    flex-direction: column;
    text-align: center;
}

.msg1_mostrando{

    color: #343A40;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 1rem;
}

.msg2_mostrando{

    color: #495057;
    font-size: 16px;
    line-height: 150%;
}


/*Comienzo del contenedor a mostrar*/
.contenedor_a_mostrar{

    position: relative;
    top: -25rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

.msg-devuelto{

    background: #ffffff;
    border: none;
    color: #495057;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 2rem;
    height: 600px;
    resize: none;
    width: 100%;
}

.boton-copiar{

    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    font-size: 16px;
    height: 67px;
    padding: 24px;
    width: 100%;
}

@media screen and (max-width: 375px) {

    .seccion-mensaje_salida{

        margin: 0 auto;
        width: 90%;
    }

    .contenedor-mensaje-devuelto{

        width: 100%;
    }

    .contenedor-mostrando{

        top: 0;
    }

    .logo-muneco{

        visibility: hidden;
    }

    .contenedor_a_mostrar{

        top: -24rem;
    }    
}

@media screen and (max-width: 768px) and (min-width: 376px) {

    .seccion-mensaje_salida{

        width: 100%;
    }

    .contenedor-mensaje-devuelto{

        height: 343px;
        width: 100%;
    }

    .contenedor-mostrando{

        top: -24rem;
    }

    .logo-muneco{

        visibility: hidden;
    }

    .contenedor_a_mostrar{

        height: 100%;
        margin: 0 auto;
        top: -35rem;
        width: 90%;
    }

    .msg-devuelto{

        height: 180px;
        width: 100%;
    }
}